.container {
  width: 100%;
  height: 100%;
}
.only-item {
  box-sizing: border-box;
  float: none;
}
.hidden-element{
  visibility: hidden;
}
/*Section region*/
section {
  width: 100%;
  box-sizing: content-box;
  text-align: center;
  font-size: 16px;
  float: none;
  max-height: 35%;
  display: block;
  margin-right: 5%;
}
.jokes-section {
  border: 1px solid #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 25%;
}
.failed-request {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 3px;
}
.failed-request:hover {
  background-color: #fff;
  color: #f00;
}
/*Section region*/

/*Button region*/
input[type="button"] {
  max-width: 35%;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight:bold;
  border-radius: 3px;
  border:1px solid #0000FF;
  box-sizing: border-box;
  margin: 0 50%;
}
input[type="button"]:hover {
  color: #ffffff;
  background-color: #0000ff;
  box-shadow: 4px 2px 1px #000;
}
/*Button region*/

/*Sidebar region*/
div[id*="side-bar"] {
  float:left;
  max-width: 40%;
  margin-right: 4%;
  box-sizing: border-box;
  border-radius: 2px;
  display: block
}
.pool-list{
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.pool-list h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  padding-right: 10%;
  display: block;
}
div[id*="-bar"] input[id*="-bar"] {
  width: 90%;
}
/*Sidebar region*/
